@using TestNetCore.Controllers
@using TestNetCore.Models.EFViewModels
@using Newtonsoft.Json;
@using TestNetCore.Data.TableData;
@model TestNetCore.Models.EFViewModels.AddUserViewModel
@addTagHelper "*, TestNetCore"
@{
    ViewData["Title"] = "Список пользователей";
    Layout = "~/Views/Shared/_LayoutCabinet.cshtml";
}

<link href="~/lib/syncfusion-javascript/Content/ej/web/bootstrap-theme/ej.web.all.min.css" rel="stylesheet" />
<link href="~/lib/syncfusion-javascript/Content/ej/web/responsive-css/ej.responsive.css" rel="stylesheet" />
<script src="~/lib/jsrender/jsrender.min.js"></script>
<script src="~/lib/syncfusion-javascript/Scripts/ej/web/ej.web.all.min.js"></script>
<script type="text/javascript" src="~/js/Languages/localizer.js"></script>

<div id="Settings1">
    <div class="col-md-12">
        <div class="page-block">
            <h2>Создать пользователя</h2>
            <div id="modal_addMessage">
                <span id="modal_close" class="glyphicon glyphicon-remove"></span>
                <div id="boxAddMessage">
                    <h3 id="newmes">Новое сообщение</h3>
                    <div class="form-group">
                        <label class="col-md-3 control-label" id="nameId">Имя:</label>
                        <div class="col-md-9">
                            <Input asp-for="UserName" rows="1" cols="30" name="UserName"
                                   class="form-control" id="UserName" type="text"
                                   placeholder="Имя"
                                   title="Введите имя"
                                   oninvalid="this.setCustomValidity('Имя введено некорректно')"
                                   oninput="this.setCustomValidity('')"
                                   pattern="[а-яА-ЯёЁa-zA-Z0-9-_\.\s]]{1,20}$" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" id="ageId">Возраст:</label>
                        <div class="col-md-9">
                            <Input asp-for="UserAge" rows="1" cols="30" name="UserAge"
                                   class="form-control" id="UserAge"
                                   required
                                   placeholder="Сумма"
                                   title="Введите сумму"
                                   oninvalid="this.setCustomValidity('Возраст введен некорректно')"
                                   oninput="this.setCustomValidity('')"
                                   pattern="^\d+(\.\d{1,2})?$" />
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label class="col-md-3 control-label" id="textId">Выберите компанию:</label>
                            <div class="styleSelect">
                                <p></p>
                                <select asp-for="@Model.Company" id="companyId"
                                        name="companyId" class="form-control">
                                    @foreach (CompanyModel comp in Model.Company)
                                    {
                                        <option value="@comp.Id">@comp.Name</option>
                                    }
                                </select>
                            </div>
                        </div>*@

                    <button id="addNewMess" class="text-center">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="" id="addmes">Добавить</span>
                    </button>
                    <button id="submitNewMess" class="text-center" type="submit" style="display: none;"></button>
                </div>
            </div>
            <div id="overlay"></div>
        </div>
    </div>
</div>
