@using TestNetCore.Controllers
@using TestNetCore.Models.Widgets.Messages
@using Newtonsoft.Json;

@model TestNetCore.Models.Widgets.Messages.MessagesViewModel

@{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/_LayoutCabinet.cshtml";
}
@*<link rel="stylesheet" href="~/css/animate.min.css">
<link rel="stylesheet" href="~/css/jquery-ui.min.css">
<script type="text/javascript" src="~/js/jquery.tablesorter.js"></script>
<script src="~/js/jquery-ui.min.js"></script>*@


<form class="form-inline col-md-12"
      asp-controller="Messages" asp-action="Messages"
      id="Messages"
      method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="page-block">
        <h2>Отправка сообщений. Страница в стадии разработки</h2>
        <p>
            Отправьте сообщение на свой имейл. Укажите все данные, по желанию прикрепите файл(ограничимся одним)<br />
            ПС: чтобы с моего сайта не рассылался спам всем подряд - ограничимся отправкой сообщений <span class="myStyleSpan">только на свой ящик</span> :)
        </p>
        <hr />
        <h3>Составьте сообщение</h3>

        <div class="form-group">
            <label class="col-md-3 control-label" for="sendTo">Отправить на Email:</label>
            <div class="col-md-9">
                <input id="sendTo" asp-for="SendTo" type="text" class="form-control" readonly="readonly" value="@Model.SendTo">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="nameSender">Имя отправителя:</label>
            <div class="col-md-9">
                <input id="nameSender" asp-for="NameFrom" type="text" class="form-control" placeholder="Имя отправителя" pattern="[а-яА-ЯёЁa-zA-Z0-9-_\.\s]]{1,20}$">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="titleMes">Заголовок: </label>
            <div class="col-md-9">
                <input id="titleMes" asp-for="TitleMessage" type="text" class="form-control" placeholder="Заголовок">
            </div>
        </div>
        <div class="form-group">
            <label for="TextMessage" class="col-md-3">Текст сообщения: </label>
            <div class="col-md-9">
                <textarea asp-for="TextMessage" id="TextMessage" class="form-control" rows="3" style="width: 500px;" required
                          onblur="saveText();"
                          oninvalid="this.setCustomValidity('Обязательное поле')"
                          oninput="this.setCustomValidity('')">
                </textarea>
            </div>
        </div>
        <div class="form-group m-b-20">
            <label for="textMes" class="col-md-3">Прикрепить файл: </label>
            <div class="col-md-9">
                <div id="chooseFile">
                    <button class="btn btn-primary" type="button" id="uploadBtn">
                        <span class="glyphicon glyphicon-cloud-upload m-r-5"></span>
                        <span id="download">Прикрепить файл</span>
                    </button>
                    <input type="file" name="files" id="files" accept="text/*, image/*, audio/*" style="display: none;" />
                    <button type="submit" id="pushFile" class="display-none uploadFile">Button</button>
                </div>
            </div>
        </div>

        <div class="text-center m-b-20">
            <button id="playVoice" type="button" class="btn btn-primary" onclick="voice()">
                <span class="glyphicon glyphicon-play-circle m-r-5"></span> Прослушать начитку введенного сообщения
            </button>
        </div>
        <div class="text-center m-b-20">
            <button type="button" class="btn btn-primary" onclick="return sendEmail();">
                <span class="glyphicon glyphicon-send m-r-5"></span> Отправить сообщение
            </button>
        </div>

        <hr />
        <h3>Список черных слов</h3>
        <p>
            Введите слова, которые Вам не нравятся через пробел или запятую. Например: капуста арбуз чеснок.
            Слова, которые Вы здесь укажете <span class="myStyleSpan">в тексте отправленного сообщения будут заменяться звёздочками</span>. Регистр не учитывается.<br />
            По умолчанию, к тесту сообщений я <span class="myStyleSpan">подключил библиотеку цензуры)</span> Там около 900 нецензурных слов на русском, украинском и английском.<br />
            Т.е. все слова, которые есть в этом списке, также в тексте отправленного сообщения будут автоматически заменяться звёздочками. Вводить их в этот список нет необходимости.<br />
            Чтобы эти слова перед Вами лишний раз не "муляли" блок со словами по умолчанию скрывается.
        </p>
        <div class="form-group">
            <label class="col-md-3 control-label" for="forbiddenList" id="perslist">Свой список нежелательных слов:</label>
            <div class="col-md-9">
                <a id="labelShowForbidden"
                   class="change-btn"
                   style="line-height: 33px;"
                   onclick="showForbidden()">
                    <i class="fa fa-eye" aria-hidden="true" id="showlist">Показать список</i>
                </a>
                <textarea asp-for="@Model.StringForbiddenWordsUser"
                          type="text"
                          value="@Model.StringForbiddenWordsUser"
                          rows="2"
                          style="width: 500px; display: none;"
                          class="form-control preventDefault"
                          id="forbiddenList">
                </textarea>
                <a id="labelHideForbidden"
                   class="change-btn"
                   style="display: none;"
                   onclick="hideForbidden()">
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    Скрыть список
                </a>
            </div>
        </div>
        <div class="text-center m-b-20">
            <button type="button" class="btn btn-primary" onclick="return saveSettings();">
                <i class="fa fa-floppy-o m-r-5" aria-hidden="true"></i> Сохранить список слов
            </button>
        </div>
    </div>

    @if (Model.AlertType == "alertSended")
    {
        <div id="alertSended" class="alertMsg" style="display: block;">
            Сообщение успешно Отправлено на Ваш почтовый почтовый ящик.
        </div>
    }
    @if (Model.AlertType == "alertSave")
    {
        <div id="alertSave" class="alertMsg" style="display: block;">
            Слова успешно сохранены в списке.
        </div>
    }

    <button id="sbm" type="submit" style="display: none;"></button>
    <input type="hidden" asp-for="PostType" id="PostType" />
    <input type="hidden" asp-for="AttachFile" id="AttachFile" />
</form>


<script>
    function sendEmail() {
        $("#PostType").val('sendEmail');
        $("#sbm").click();
    }
    function saveSettings() {
        $("#PostType").val('saveSettings');
        $("#sbm").click();
    }
    function hideForbidden() {
        $('#labelHideForbidden').css('display', 'none');
        $('#labelShowForbidden').css('display', 'inline-block');
        $('#forbiddenList').css('display', 'none');
        $('#forbiddenTitle').css('display', 'none');
    }
    function showForbidden() {
        $('#labelHideForbidden').css('display', 'inline-block');
        $('#labelShowForbidden').css({ display: 'none', lineHeight: 'initial' });
        $('#forbiddenList').css('display', 'inline-block');
        $('#forbiddenTitle').css('display', 'inline-block');
    }

    // Для всех инпутовс классом preventDefault отключаю POST по клику на ENTER
    $("input.preventDefault").keydown(function (event) {
        if (event.which === 13) {
            event.preventDefault();
        }
    });

    setInterval(function () {
        $("#alertSended, #alertSave").css("display", "none");
    }, 4 * 1000);

    var pathVoice;
    function voice() {
        if (pathVoice != undefined) {
            $("body").append(
                '<audio class="sound-player" id="voiceRington" autoplay="autoplay" style="display:none;" src="' + pathVoice + '"></audio>');
            var aud = document.getElementById("voiceRington");
            $('#voiceRington').on('ended',
                function () {
                    $("#voiceRington").remove();
            });
        }
    }


    // ADD FILES
    var wrapper = $("#chooseFile"),
        inp = wrapper.find("input"),
        btn = wrapper.find("button#uploadBtn"),
        push = wrapper.find("button#pushFile");
    btn.click(function () {
        inp.click();
    });
    var file_api = (window.File && window.FileReader && window.FileList && window.Blob) ? true : false;
    inp.change(function () {
        var file_name;
        if (file_api && inp[0].files[0])
            file_name = inp[0].files[0].name;
        if (file_name == undefined)
            return;
        var file = $("#files")[0].files[0],
            ext = "не определилось",
            parts = file.type.split('/');
        if (parts.length > 1) ext = parts.shift();
        $("#AttachFile").val(file_name);
        $("#PostType").val('uploadFiles');
        push.click();
    }).change();

    $("#playVoice").attr("disabled", "disable");
    function saveText() {
        var message = $("#TextMessage").val();
        if (message == "") {
            $("#playVoice").attr("disabled", "disable");
        } else {
            var token = $('input[name="__RequestVerificationToken"]', $('#Messages')).val();
            var myData = { text: message };
            var dataWithAntiforgeryToken = $.extend(myData, { '__RequestVerificationToken': token });
            $.ajax({
                url: "/Messages/SaveText",
                type: "POST",
                data: dataWithAntiforgeryToken,
                success: function (data) {
                    console.log("data: ", data);
                    $("#playVoice").removeAttr("disabled");
                    pathVoice = data.replace("wwwroot/", "../") + ".mp3";
                    console.log("pathVoice: ", pathVoice);
                }
            });
        }        
    }
</script>
