@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Shalex - MyProj with C# and .NET Core";
}

<header class="header">
    <div class="background-image" style="background-image:url(/img/bg.jpg);"></div>
    <div class="container container-header text-center">
        <h1 id="headTitleId">Тестовое приложение на C# и ASP.NET Core 2.0</h1>
        <h3 id="headTitleId2">
            Суть в бекенде, который начинается с логина через google, поэтому с фронтендом сильно не заморачивался. <br />
            Здесь Вы увидите демонстрацию нескольких страниц работающих с API и с файлами. <br />
            Однако большая часть бекенда связана с работой Баз Данных и EntityFramework, 
            а там важно идентифицировать разных пользователей.  <br />
            Поэтому, бекенд продолжается после логина через google, который тоже прикрутил в тестовых целях. <br />
            Залогиньтесь, и посмотрите мою работу! <br />
            Логин проходит через форму GOOGLE, все введенные данные - стандартная процедура регистрации через google.
        </h3>
        <div class="start ripple-top animated fadeInDown" data-toggle="modal" data-target="#myModal" id="getStartId">
            <a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("PrivatBank", "API", new { area = "" })">Войти</a>
        </div>
    </div>
</header>



@*@{
        ViewData["Title"] = "Home Page";
    }


    <h1 id="headTitle">Тестовое приложение на C# и ASP.NET Core 2.1</h1>
    <p id="headText">
        Суть в бекенде, поэтому с фронтендом сильно не заморачивался. <br />
        Здесь Вы видите демонстрацию нескольких страниц работающих с API и с файлами, что может увидеть каждый пользователь. <br />
        Однако некоторая часть бекенда связана с работой Баз Данных и EntityFramework, а там важно идентифицировать разных пользователей.  <br />
        Поэтому, часть бекенда продолжается после логина через google, который тоже прикрутил в тестовых целях. <br />
        Залогиньтесь, и посмотрите еще несколько виджетов! <br />
        Логин проходит через форму GOOGLE, все введенные данные - стандартная процедура регистрации через google.
    </p>

*@

