<li onclick="return getSoundName('@dataFile.FileName', 'uploadSound')">
    <div class="soundBoxBg">
        <i class="fa fa-play-circle-o playSound"
            onclick="playSound('../gallery/uploadSound/@dataFile.UserId/@dataFile.FileName', this);"></i>
        <i class="fa fa-stop-circle-o stopSound" 
            onclick="stopSound();"></i>
    </div>
    <div class="boxFooter">
        <div class="boxFooter__FileName">@dataFile.FileName</div> 
        <div class="boxFooter__Panel">
            <div class="size">@dataFile.Size</div>
            <div class="trash" onclick="return deleteSoundById(@dataFile.Id)">
                <span class="glyphicon glyphicon-trash"></span>
            </div>
        </div>
    </div>
</li>