@model TestNetCore.Models.API.TheMovieDBViewModel
@{
    ViewData["Title"] = "API TheMovieDB";
    Layout = "~/Views/Shared/_LayoutCabinet.cshtml";
}


<div  class="col-md-12">
    <div class="page-block">
        <h5>
            Результат работы с этим API вы можете увидеть на учебном задании, выполненном мной на Vue.js
            <a href="http://shalex.info/ru/vue-project/#/films" target="_blank">перейдя по этой ссылке</a>
        </h5>
    </div>
</div>